button {
  box-sizing: border-box;
  border-radius: 8px;
  border: 1.77px solid;
  width: 100%;
  height: 40px;
  font-weight: 500;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
}
.green-card {
  background-color: #ffffff;
  border-color: #006156;
  color: #006156;
  &:hover {
    background-color: #006156;
    color: #fff;
  }
}
.red-card {
  background-color: #fff;
  border-color: #cc4945;
  color: #cc4945;
  &:hover {
    background-color: #cc4945;
    color: #fff;
  }
}
.yellow-card {
  background-color: #ffce00;
  color: #1d1e2c;
  border-color: #ffce00;
  &:hover{
     opacity: .8;

  }
}

@media only screen and (max-width: 900px) {
 button{
   width: max-content;
   margin: 20px 0 10px;
 }


}
