.main{
    margin-left: 245px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    @media only screen and (max-width:900px){
        margin-left: 0;
        flex-direction: column;
        padding: 0;
    }
}