.mobile-toggle {
  display: none;
}
@media only screen and (max-width: 500px) {
  .mobile-toggle {
    display: block;
   margin-left: auto;
   position:fixed;
   right: 10px;
   z-index: 99;
    
  }

}
