@font-face {
  font-family: gilroy;
  src: url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: gilroy;
  src: url("./fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 400;
}
body,
* {
  margin: 0;
  font-family: "gilroy";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

